{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}">
</head>
<body>

    <!-- 2章の内容==============
    <h1>{{ title }}</h1>
    <p>{{ message|safe }}</p>
    <p>{{ result|safe }}</p>
    <p>{{ result2|safe }}</p>
    <p>{{ result3|safe }}</p>
    <table>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <tr><td></td><td><input type="submit" value="click"></td></tr>
        </form>
    </table>
    2章の内容============== -->

    <!-- 3章の内容============== -->
    <!-- 3-15-------------- -->
    <!-- <h1>{{ title }}</h1>
    <p>{{ message|safe }}</p>
    <table>
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <tr><td></td><td><input type="submit" value="click"></td></tr>
        </form>
    </table>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>GENDER</th>
            <th>MAIL</th>
            <th>AGE</th>
            <th>BIRTHDAY</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
                {% if item.gender == FALSE %}
                    male
                {% else %}
                    female
                {% endif %}
            </td>
            <td>{{ item.mail }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.birthday }}</td>
        </tr>
        {% endfor %}
    </table> -->

    <!-- 3-16-------------- -->
    <!-- <h1>{{ title }}</h1> -->
    <!-- <p>{{ data }}</p> -->
    <!-- <table> -->
        <!-- <tr>
            <th>data</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item }}</td>
        </tr>
        {% endfor %} -->
        <!-- {{ data|safe }} -->
    <!-- </table> -->
    <!-- 3章の内容============== -->

    <!-- 3-26------------------------ -->
    <h1>{{ title }}</h1>
    <table>
        <tr>
            <th>data</th>
            <th></th>
            <th></th>
        </tr>

        {% for item in data %}
        <tr>
            <td>{{ item }}</td>
            <td><a href="{% url 'edit' item.id %}">編集</a></td>
            <td><a href="{% url 'delete' item.id %}">削除</a></td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'create' %}" role="button">追加</a></p>
    <p><a href="{% url 'find' %}" role="button">検索</a></p>
    <!-- 3-26------------------------ -->

</body>
</html>